@import 'variables';

.board-row {
  display: flex;

  .tile {
    border: 1px solid #444;
    border-width: 1px 0 0 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 1.2em;
    width: 1.2em;
    font-size: 48px;

    &.selected-first-letter ::ng-deep .tile-number {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      font-weight: bold;
    }
    &.selected-tile.selected-first-letter ::ng-deep .tile-number {
      border-bottom: 1px solid rgba(255, 255, 255, 0.85);
      color: #FFF;
    }

    &:last-child {
      border-right-width: 1px;
    }
    &.tile-invalid {
      background: repeating-linear-gradient(45deg, #444, #444 5px, #333 5px, #333 10px);
    }

    &.selected-clue {
      background: repeating-linear-gradient(45deg, #ddebf0, #ddebf0 5px, #FFF 5px, #FFF 10px);
      color: #666;

      &:not(.selected-first-letter) {
        ::ng-deep .tile-number {
          opacity: 0.5;
        }
        &.selected-tile ::ng-deep .tile-number {
          opacity: 0.2;
        }
      }
    }

    &.selected-tile {
      background: $color-primary;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
      color:  #FFF;
      ::ng-deep {
        .letter {
          color: #FFF;
        }
        .has-error {
          background: $color-red;
        }
      }
    }
  }

  &:last-child {
    .tile {
      border-bottom-width: 1px;
    }
  }
}
