@import 'variables';

:host {
  display: block;
}

.game {
  display: flex;
  flex-flow: column nowrap;
  header {
    color: #ef6a4d;
    display: flex;
      align-items: baseline;
      justify-content: space-between;
    font-size: 1.1em;
    padding: 0.3em 0.5em;
    h1 {
      font-size: inherit;
      margin: 0;
      letter-spacing: -1px;
      text-transform: uppercase;
    }
  }
}

ul {
  max-height: 250px;
  overflow: auto;
}

.clue-bar {
  background: #e74a28;
  box-sizing: border-box;
  color: #FFF;
  display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 0 0.5em;
  width: 100%;
  button {
    color: inherit;
    font-size: 1.5em;
    @include reset-button();
    &:hover {
      color: $color-primary;
    }
  }
  &.xw-sticky {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}

.game-container {
  display: flex;
  xw-board {
    flex: 1 0 auto;
  }
  ul {
    flex: 1 1 auto;
  }
}

.clues {
  padding: 1em;
  ul {
    padding: 0;
  }
  li {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0.1em 0.2em;
    strong {
      flex: 0 0 2em;
    }
    span {
      flex: 1 1 auto;
    }
  }
  .selected-clue {
    background: #f7f1df;
    color: #01507d;
  }
}
