<div *ngIf="game" class="game">
  <header>
    <h1>{{game.crossword.title || 'No title'}}</h1>
    <span>{{game.crossword.date | date:'fullDate'}}</span>
  </header>
  <div class="clue-bar" xwSticky>
    <button>«</button>
    <div>
      {{game.selectedClue && game.selectedClue.number + '.'}}
      {{game.selectedClue && game.selectedClue.hint}}
    </div>
    <button>»</button>
  </div>
  <div class="game-container">
    <div class="board-wrapper">
      <xw-board #board
        [game]="game"
        [style.width]="game.crossword.width * 2.4 + 'em'"
      ></xw-board>
    </div>
    <div class="clues">
      <xw-clue-list [title]="'Across'"
        [clues]="game.crossword.acrossClues"
        [selectedClue]="game.selectedClue"
        (clueSelect)="board.selectClue($event)"></xw-clue-list>

      <xw-clue-list [title]="'Down'"
        [clues]="game.crossword.downClues"
        [selectedClue]="game.selectedClue"
        (clueSelect)="board.selectClue($event) "></xw-clue-list>
    </div>
  </div>
</div>
