<div *ngIf="game" class="game">
  <header>
    <h1>{{game.crossword.title || 'No title'}}</h1>
    <span>{{game.crossword.date | date:'fullDate'}}</span>
  </header>
  <div class="clue-bar" xwSticky>
    <button>«</button>
    <div>
      {{game.selectedClue && game.selectedClue.hint}}
    </div>
    <button>»</button>
  </div>
  <div class="game-container">
    <xw-board [game]="game"></xw-board>
    <div class="clues">
      <h2>Across</h2>
      <ul>
        <li *ngFor="let clue of game.crossword.acrossClues"
            [class.selected-clue]="game.selectedClue === clue"
            (click)="setSelected(clue)">
          <strong>{{clue.number}}</strong><span>{{clue.hint}}</span>
        </li>
      </ul>

      <h2>Down</h2>
      <ul>
        <li *ngFor="let clue of game.crossword.downClues"
            [class.selected-clue]="game.selectedClue === clue"
            (click)="setSelected(clue)">
          <strong>{{clue.number}}</strong><span>{{clue.hint}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
