@import 'variables';

:host {
  display: block;
  ul, li { // TODO: move to reset file
    padding: 0;
  }
  ul {
    border-radius: 10px;
  }
  li {
    font-size: 1.2em;
    list-style: none;
    padding: 0.5em;
    cursor: pointer;
    &:hover {
      background: $color-primary;
      color: $color-white;
    }
    & + li {
      border-top: 1px solid #eee;
    }
  }
}
