/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  margin: 0;
}

.xw-sticky {
  position: fixed;
    top: 0;
    left: 0;
  z-index: 10;
  transform: translate3d(0, 0, 0);
}
